<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junpyo.shopping.board.mapper.BoardMapper">
	<select id = "selectBoardList" resultType="boardDto">
		select * from board where board_del_yn='N'
	</select>
	
	<select id = "selectContentsView" resultType="boardDto">
		select * from board where board_no=#{boardNo}
	</select>
	
	<insert id="insertBoardWrite" parameterType="boardDto">
		<![CDATA[
			insert
			into
			board
			values
			(
				boardNo.nextval,
				#{boardTitle},
				#{boardContents},
				#{boardWriter},
				sysdate,
				'N',
				null
			)
		]]>
	</insert>
	
	<update id="deleteList">
		<![CDATA[
			update board set board_del_yn = 'Y', board_modify_date = sysdate where board_no=#{boardNo}
		]]>
	</update>
	<!-- 수정버튼 클릭 시 조회 -->
	<select id = "selectUpdateForm" resultType="boardDto">
		<![CDATA[
		 select * from board where board_no = #{boardNo}
		]]>
	</select>
	
	<!-- 수정 -->
	<update id = "updateBoardForm">
		<![CDATA[
				update board set board_title=#{boardTitle}, board_writer=#{boardWriter}, board_contents=#{boardContents}, board_modify_date = sysdate where board_no=#{boardNo}
			]]>
	
	</update>
</mapper>